<div fxLayout="column" fxFlex="50%">
  <div style="margin-right: 20px">
    <h2 style="color: azure">Album title : {{ albumTitle }}</h2>
  </div>
  <div class="error" *ngIf="error | async">{{ error | async}}</div>
  <div class="error" *ngIf="addToTrackHistoryError | async">{{ addToTrackHistoryError | async}}</div>
  <div class="error" *ngIf="removeError | async">{{ removeError | async}}</div>
  <div class="error" *ngIf="editError | async">{{ editError | async}}</div>
  <mat-progress-spinner
    *ngIf="(loading | async) else tracksCards"
  ></mat-progress-spinner>
  <div *ngIf="(tracks | async)?.length === 0" class="messageDiv">No tracks</div>
  <ng-template #tracksCards>
    <div *ngFor="let track of tracks | async" style="margin-bottom: 10px">
      <mat-card *appIsPublished="track.is_published">
        <mat-card-content fxLayout="row" fxLayoutAlign="space-between center">
          <h3 fxFlex="30">" {{ track.title }} "</h3>
          <p fxFlex="20">{{ track.duration }}</p>
          <span *ngIf="!track.is_published" class="not-published">Not published</span>
          <div>
            <button mat-icon-button (click)="addToTrackHistory(track.id, track?.url)">
              <mat-icon>play_circle_outline</mat-icon>
            </button>
          </div>
        </mat-card-content>
        <mat-card-footer style="text-align: right">
          <button
            mat-raised-button
            color="warn"
            *appHasRoles="['Admin']"
            (click)="onRemoveTrack(track.id)"
          >
            Delete
          </button>
          <button
            mat-raised-button
            color="primary"
            *appButtons="track.is_published"
            (click)="onEdit(track.id)"
            [disabled]="editLoading |async"
          >
            Publish
          </button>
        </mat-card-footer>
      </mat-card>
    </div>
  </ng-template>
</div>




