<div mat-dialog-content>
  <iframe width="400" height="315"
          [src]="data.trackUrl | safe">
  </iframe>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Close</button>
  </div>
</div>
