<app-centered-card title="Add new artist">
  <div class="error" *ngIf="error | async">{{ error | async }}</div>
  <form
    #f="ngForm"
    fxLayout="column"
    autocomplete="off"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field appearance="outline" class="field">
      <mat-label>Name</mat-label>
      <input
        type="text" name="name" required matInput ngModel #name="ngModel"
      />
      <mat-error *ngIf="name.touched && name.hasError('required')">
        Name of artist is required!
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Image</mat-label>
      <app-file-input name="image" ngModel></app-file-input>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Information</mat-label>
      <textarea
        name="information"
        required
        ngModel
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="3"
        #information="ngModel"
      ></textarea>
      <mat-error *ngIf="information.touched && information.hasError('required')">
        Information of artist is required!
      </mat-error>
    </mat-form-field>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="f.invalid || (loading | async)"
    >
      Add
    </button>
  </form>
</app-centered-card>
