<app-centered-card title="Register form">
  <form
    #f="ngForm"
    fxLayout="column"
    autocomplete="off"
    [appIdentical]="['password', 'passwordRepeat']"
    (ngSubmit)="onRegister()"
  >
    <mat-form-field appearance="outline" class="field">
      <mat-label>Email</mat-label>
      <input
        type="email" name="email" autocomplete="username"
        email required matInput ngModel #email="ngModel"
      />
      <mat-error *ngIf="email.touched && email.hasError('required')">
        Email is required!
      </mat-error>
      <mat-error *ngIf="email.touched && email.hasError('email')">
        Enter a correct email!
      </mat-error>
      <mat-error *ngIf="email.touched && email.hasError('serverError')">
        {{ email.getError('serverError')}}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="field">
      <mat-label>Password</mat-label>
      <input
        type="password" name="password" autocomplete="new-password"
        required matInput ngModel #password="ngModel"
      />
      <mat-error *ngIf="password.touched && password.hasError('required')">
        Password is required!
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="field">
      <mat-label>Password repeat</mat-label>
      <input
        type="password" name="passwordRepeat"
        required matInput ngModel #passwordRepeat="ngModel"
      />
      <mat-error *ngIf="passwordRepeat.touched && passwordRepeat.hasError('required')">
        Password repeat is required!
      </mat-error>
    </mat-form-field>
    <mat-error *ngIf="passwordRepeat.touched && f.hasError('identical')">
      Passwords should match!
    </mat-error>
    <mat-form-field appearance="outline" class="field">
      <mat-label>Avatar</mat-label>
      <app-file-input name="avatar" ngModel></app-file-input>
    </mat-form-field>
    <mat-form-field appearance="outline" class="field">
      <mat-label>Display Name</mat-label>
      <input
        type="text"
        name="displayName"
        required
        matInput
        ngModel
        #displayName="ngModel"
      />
      <mat-error *ngIf="displayName.touched && displayName.hasError('required')">
        Display name is required!
      </mat-error>
    </mat-form-field>
    <mat-progress-spinner *ngIf="(loading | async) else button"></mat-progress-spinner>
    <ng-template #button>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="f.invalid || (loading | async)"
      >
        Register
      </button>
    </ng-template>
  </form>
</app-centered-card>

