<div class="error" *ngIf="error | async">{{ error | async}}</div>
<div class="error" *ngIf="removeError | async">{{ removeError | async}}</div>
<div class="error" *ngIf="editError | async">{{ editError | async}}</div>
<mat-progress-spinner
  *ngIf="(loading | async) else albumsCards"
></mat-progress-spinner>
<div *ngIf="(albums | async)?.length === 0" class="messageDiv">No albums</div>
<ng-template #albumsCards>
  <h2 style="color: azure">Artist's name: {{ artistName }}</h2>
  <h3>Albums list:</h3>
  <div fxLayout="row wrap" fxLayoutGap="20px grid">
    <div fxFlex="25%" *ngFor="let album of albums | async">
      <mat-card class="album_card" *appIsPublished="album.is_published">
        <mat-card-title>{{ album.title }}</mat-card-title>
        <mat-card-subtitle>{{ album.yearOfIssue }}</mat-card-subtitle>
        <a [routerLink]="['/album_tracks/', album.id, album.title]">
          <img [src]="album.image | image" [alt]="'Image of' + album.title" style="max-width: 100%; height: auto">
        </a>
        <p *ngIf="!album.is_published" class="not-published">Not published</p>
        <mat-card-footer>
          <button
            mat-raised-button
            color="warn"
            *appHasRoles="['Admin']"
            (click)="onRemove(album.id)"
            [disabled]="removeLoading |async"
          >
            Delete
          </button>
          <button
            mat-raised-button
            color="primary"
            *appButtons="album.is_published"
            [disabled]="editLoading |async"
            (click)="onEdit(album.id)"
          >
            Publish
          </button>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</ng-template>
