<div class="error" *ngIf="error | async">{{ error | async}}</div>
<div class="error" *ngIf="removeError | async">{{ removeError | async}}</div>
<div class="error" *ngIf="editError | async">{{ editError | async}}</div>
<mat-progress-spinner
  *ngIf="(loading | async) else artistsCards"
></mat-progress-spinner>
  <ng-template #artistsCards>
    <div fxLayout="row wrap" fxLayoutGap="20px grid">
      <div fxFlex="25%" *ngFor="let artist of artists | async">
          <mat-card class="card" *appIsPublished="artist.is_published">
            <a [routerLink]="['/albums/', artist.id,  artist.name]">
              <mat-card-title>{{ artist.name }}</mat-card-title>
              <img [src]="artist.image | image" [alt]="'Photo of' + artist.name" style="max-width: 100%; height: auto">
            </a>
            <p *ngIf="!artist.is_published; else published" class="is-published">Not published</p>
            <ng-template #published>
              <p class="is-published">Published</p>
            </ng-template>
           <mat-card-footer>
             <button
               mat-raised-button
               color="warn"
               *appHasRoles="['Admin']"
               (click)="onRemove(artist.id)"
               [disabled]="removeLoading |async"
             >
               Delete
             </button>
             <button
               mat-raised-button
               color="primary"
               *appButtons="artist.is_published"
               (click)="onEdit(artist.id)"
               [disabled]="editLoading |async"
             >
               Publish
             </button>
           </mat-card-footer>
          </mat-card>
      </div>
    </div>
  </ng-template>


