<app-centered-card title="Add new album">
  <div class="error" *ngIf="error | async">{{ error | async }}</div>
  <form
    #f="ngForm"
    fxLayout="column"
    autocomplete="off"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field appearance="outline" class="field">
      <mat-label>Title</mat-label>
      <input
        type="text" name="title" required matInput ngModel #title="ngModel"
      />
      <mat-error *ngIf="title.touched && title.hasError('required')">
        Title of album is required!
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="field">
      <mat-label>Artist</mat-label>
      <mat-select name="artist" required matInput ngModel #artist="ngModel">
        <mat-option *ngFor="let artist of artists | async" [value]="artist?.id">
          {{ artist.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="artist.touched && artist.hasError('required')">
        Artist is required!
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Image</mat-label>
      <app-file-input name="image" ngModel></app-file-input>
    </mat-form-field>
    <mat-form-field appearance="outline" class="field">
      <mat-label>Year of issue</mat-label>
      <input
        type="number" name="yearOfIssue" required matInput ngModel #yearOfIssue="ngModel"
      />
      <mat-error *ngIf="yearOfIssue.touched && yearOfIssue.hasError('required')">
        Year of issue is required!
      </mat-error>
    </mat-form-field>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="f.invalid || (loading | async)"
    >
      Add
    </button>
  </form>
</app-centered-card>

