<app-centered-card title="Add new track">
  <div class="error" *ngIf="error | async">{{ error | async }}</div>
  <form
    #f="ngForm"
    fxLayout="column"
    autocomplete="off"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field appearance="outline" class="field">
      <mat-label>Title</mat-label>
      <input
        type="text" name="title" required matInput ngModel #title="ngModel"
      />
      <mat-error *ngIf="title.touched && title.hasError('required')">
        Title is required!
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="field">
      <mat-label>Artist</mat-label>
      <mat-select name="artist" required matInput ngModel #artist="ngModel" (selectionChange)="onArtist()">
        <mat-option *ngFor="let artist of artists | async" [value]="artist?.id">
          {{ artist.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="artist.touched && artist.hasError('required')">
        Artist is required!
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="field">
      <mat-label>Album</mat-label>
      <mat-select name="album" required matInput ngModel #album="ngModel">
        <mat-option *ngFor="let album of albums | async" [value]="album?.id">
          {{ album.title }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="album.touched && album.hasError('required')">
        Album is required!
      </mat-error>
      <mat-error *ngIf="(albums | async)?.length === 0">
        Artist has no added albums ! Choose another artist
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="field">
      <mat-label>Duration</mat-label>
      <input
        type="text" name="duration" required matInput ngModel #duration="ngModel"
      />
      <mat-error *ngIf="duration.touched && duration.hasError('required')">
        Duration is required!
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="field">
      <mat-label>
        Url (youtube ID) in format https://www.youtube.com/embed/
        <span style="text-decoration: underline">youtubeId</span>
      </mat-label>
      <input
        type="text" name="url" matInput ngModel
      />
    </mat-form-field>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="f.invalid || (loading | async)"
    >
      Add
    </button>
  </form>
</app-centered-card>
