<app-centered-card title="Login form">
  <form #f="ngForm" fxLayout="column" autocomplete="off" (ngSubmit)="onSubmit()">
    <div *ngIf="error | async" class="error">
      {{ (error | async)?.error }}
    </div>
    <div *ngIf="fbError | async" class="error">
      {{ fbError | async }}
    </div>
    <mat-form-field appearance="outline" class="field">
      <mat-label>Email</mat-label>
      <input
        type="email" name="email" autocomplete="username"
        email required matInput ngModel #email="ngModel"
      />
      <mat-error *ngIf="email.touched && email.hasError('required')">
        Email is required!
      </mat-error>
      <mat-error *ngIf="email.touched && email.hasError('email')">
        Enter a correct email!
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="field">
      <mat-label>Password</mat-label>
      <input
        type="password" name="password" autocomplete="current-password"
        required matInput ngModel #password="ngModel"
      />
      <mat-error *ngIf="password.touched && password.hasError('required')">
        Password is required!
      </mat-error>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="center" class="field">
      <a routerLink="/register">Don't have an account? Sign up!</a>
    </div>
    <mat-progress-spinner *ngIf="(loading | async) else button"></mat-progress-spinner>
    <ng-template #button>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="f.invalid || (loading | async)"
      >
        Login
      </button>
      <button type="button"
              mat-raised-button
              color="default"
              style="margin-top: 10px"
              [disabled]="fbLoading | async"
              (click)="fbLogin()"
      >
        <img src="assets/icons/fb.svg" alt="Facebook logo"/>
        &nbsp;&nbsp;
        Sign with facebook
      </button>
    </ng-template>
  </form>
</app-centered-card>
