/* You can add global styles to this file, and also import other style files */
.error
  background-color: #f44336
  padding: 20px
  color: white
  margin-bottom: 15px
  text-align: center
  border-radius: 2px

.field
  margin-bottom: 15px

.messageDiv
  background-color: #280936
  padding: 20px
  color: white
  margin-bottom: 15px
  text-align: center
  border-radius: 2px

.is-published
  color: indigo
  font-size: 10px

