<div class="error" *ngIf="error | async">{{ error | async}}</div>
<mat-progress-spinner
  *ngIf="(loading | async) else tracksArea"
></mat-progress-spinner>
<ng-template #tracksArea>
  <mat-card fxFlex="50%">
    <mat-card-title>Track history</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let track of userTracks | async">
          <p class="material-icons">audiotrack</p>
          <p fxFlex="30">" {{ track.trackTitle }} "</p>
          <p fxFlex="20">{{ track.artistName }}</p>
          <p fxFlex>{{ track.datetime }}</p>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</ng-template>


